//Colors
$navy: #0e1d2d;
$blueLighter: #c0e0ff;
$blueLight: #a3c5e7;
$blue: #5ba2e8;
$blueDark: #0061ac;
$blueDarker: #10416f;
$greenLight: #bfffa1;
$green: #59ce00;
$greenDark: #489710;

//Fonts
$font-body: 'proxima-nova', 'proxima-nova-n4', Helvetica, Arial, sans-serif;
$font-mono: 'inconsolata', monospace, sans-serif;

//Font Weights
$thin:              100;
$light:             300;
$regular:           400;
$semibold:          600;
$bold:              700;
$extrabold:         800;
$ultra:             900;

//Layout
$side-padding: 46px;

//Grid
$small-screen: new-breakpoint(max-width 945px);
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 740px);
