//Colors
$color-body: #C7C2E4;
$orange: darken(#FF9C55, 10%);
$purple: #3F3C53;
$purpleDark: darken($purple, 5%);
$purpleLight: lighten($purple, 2%);
$beige: #eedbb6;

//Fonts
$font-body:   'runda', Helvetica, Arial, sans-serif;
$font-header: 'brandon-grotesque', Helvetica, Arial, sans-serif;
$font-mono:   'inconsolata', monospace, sans-serif;

//Font Weights
$thin:              100;
$light:             300;
$regular:           400;
$semibold:          600;
$bold:              700;
$extrabold:         800;
$ultra:             900;

//Layout
$side-padding: 46px;
$margin: 20px;

//Grid
$small-screen: new-breakpoint(max-width 945px);
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 740px);
