@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";
@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  @include box-sizing(border-box);
}

body {
  color: #eee;
  font-family: $font-body;
  font-weight: $light;
  background: url(../img/dust.png);
}

a {
  color: $color-body;
  @include transition(all .1s linear);
}

p {
  a {
    text-decoration: none;
    border-bottom: 1px solid fade-out($color-body, .5);
    &:hover {
      color: white;
      border-bottom-color: white;
    }
  }
}

section {
  @include outer-container;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin button($text: #fff, $background: $blue, $font-size: .9em) {
  display: inline-block;
  padding: .2em .75em .3em;
  border-radius: 3px;
  color: $text;
  background-color: $background;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  font-size: $font-size;
  &:hover {
    background-color: lighten($background, 5%);
  }
}

h1 {
  font-family: $font-header;
}

#hero {
  aside {
    @include span-columns(6);
    h1 {
      margin-bottom: .2em;
      font-size: 122px;
      a {
        color: #656494;
        text-shadow: 0 0 30px #656494;
        text-decoration: none;
        @include transition(all 1s linear);
        &:hover {
          color: lighten(#656494, 10%);
        }
      }
    }
    p {
      font-size: 18px;
      strong {
        font-weight: $regular;
        font-size: 25px;
        display: block;
        color: $color-body;
      }
    }
  }
  .logo {
    @include span-columns(6);
    div {
      position: relative;
      margin: 100px 230px;
    }
    img {
      position: absolute;
      z-index: 2;
      &.shadow {
        z-index: 1;
        top: 24px;
        left: 7px;
      }
    }
  }
}