@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";
@import "variables";
@import "fonts";

* {
  -webkit-font-smoothing: antialiased;
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}

body {
  color: #eee;
  font-family: $font-body;
  font-weight: $light;
  background: url(../img/dust.png);
  background-attachment: fixed;
}

html.js {
  body {
    opacity: 1;
    @include transition(opacity .5s linear);
    &.preload {
      opacity: 0;
    }
  }
}

a {
  color: $color-body;
  @include transition(all .1s linear);
}

p {
  a {
    text-decoration: none;
    border-bottom: 1px solid fade-out($color-body, .5);
    &:hover {
      color: white;
      border-bottom-color: white;
    }
  }
}

section {
  @include outer-container;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin button($text: $orange, $background: white, $font-size: 19px) {
  position: relative;
  display: inline-block;
  padding: 10px 10px 12px;
  border-radius: 5px;
  color: $text;
  background-color: $background;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  font-size: $font-size;
  font-family: $font-header;
  font-weight: $bold;
  border: 0;
  @include transition(all .5s $ease-out-expo);
  &:hover {
    background-color: lighten($background, 5%);
  }
  &:active {
    outline: none;
    top: 1px;
  }
  &:focus {
    outline: none;
    background-color: lighten($background, 5%);
  }
}

button,
input[type="submit"] {
  @include button(white, fade-out($orange, .2));
  &:hover {
    background: $orange;
  }
}

input[type="text"],
input[type="email"] {
  font-size: 19px;
  font-family: $font-header;
  font-weight: $bold;
  padding: 11px;
  background: fade-out(white, .2);
  color: white;
  border-radius: 5px;
  border: 0;
  @include transition();
  &:hover {
    background: white;
  }
  &:focus {
    background: white;
    outline: none;
    color: $purple;
  }
}


h1 {
  font-family: $font-header;
}

#hero {
  aside {
    @include span-columns(6);
    @include media(max-width 600px) {
      @include fill-parent;
      text-align: center;
    }
    h1 {
      margin-bottom: .2em;
      font-size: 122px;
      a {
        color: #656494;
        text-shadow: 0 0 30px #656494;
        text-decoration: none;
        @include transition(all 1s linear);
        &:hover {
          color: lighten(#656494, 10%);
        }
      }
    }
    p {
      font-size: 18px;
      strong {
        font-weight: $regular;
        font-size: 25px;
        display: block;
        color: $color-body;
      }
    }
  }
  .hero-image {
    @include span-columns(6);
    text-align: center;
    @include media(max-width 600px) {
      @include fill-parent;
    }
    .logo {
      position: relative;
      min-height: 1px;
      margin-top: 100px;
      @include media(max-width 600px) {
        display: inline-block;
        width: 50%;
        margin-top: 50px;
        @include transform(scale(.75));
      }
    }
    img {
      position: absolute;
      z-index: 2;
      right: 50px;
      &.shadow {
        z-index: 1;
        top: 22px;
        right: 40px;
      }
    }
  }
  .twitter-share-button {
    opacity: .4;
    @include transition();
    &:hover {
      opacity: 1;
    }
  }
}

.sign-up {
  @include row();
  padding: $margin/2 $margin $margin;
  margin-top: $margin*4;
  @include media($mobile) {
    margin-top: 1em;
  }
  form {
    width: 65%;
    margin: 0 auto;
    @include media($mobile) {
      width: 100%;
    }
  }
  p {
    text-align: center;
    margin: 1em 0;
  }
  input[type='email'] {
    width: 72%;
    margin-right: 3%;
    float: left;
    @include media($mobile) {
      @include fill-parent();
      margin-bottom: 5px;
      text-align: center;
    }
  }
  input[type="submit"] {
    width: 25%;
    float: left;
    @include media($mobile) {
      @include fill-parent();
    }
  }
}

.features {
  @include row();
  .feature {
    @include row();
    margin: $margin*5 0 $margin*3.5;
    border-top: 3px solid $purpleDark;
    @include media($mobile) {
      margin: $margin*2 $margin;
    }
  }
  h2 {
    font-weight: $light;
    color: $beige;
    font-size: 30px;
  }
  p {
    line-height: 1.7;
    font-size: 18px;
  }
  article {
    @include span-columns(5);
    padding: $margin $margin 0 $margin*2;
    @include media($mobile) {
      @include fill-parent();
      padding: 0;
      text-align: center;
    }
  }
  aside {
    @include span-columns(7);
    @include media($mobile) {
      @include fill-parent();
    }
    img {
      margin-top: -20px;
    }
  }
}

.value-props {
  @include row();
  margin-bottom: $margin*4;
  ul {
    list-style: none;
  }
  li {
    @include span-columns(4);
    @include pad(0 20px 0 default);
    @include media($mobile) {
      @include fill-parent();
    }
  }
  h3 {
    font-weight: $light;
    color: $beige;
    font-size: 19px;
    margin-left: -28px;
    @include media($mobile) {
      margin-bottom: 0;
    }
    span {
      position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 3px;
      color: $orange;
      font-size: 18px;
      text-align: center;
    }
  }
  p {
    line-height: 1.7;
    @include media($mobile) {
      margin-top: 5px;
      padding-left: 2px;
    }
  }
}

#footer {
  background: $purpleDark;
  padding: 80px;
  text-align: center;
  h3 {
    margin: 0;
    font-weight: $light;
    font-size: 23px;
    a {
      opacity: .7;
      img {
        position: relative;
        left: 5px;
        top: -2px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  small {
    display: block;
    margin-top: .5em;
    font-size: .8em;
    letter-spacing: .025em;
    color: lighten($purpleLight, 25%);
  }
}


@include keyframes(logo) {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: -25px;
    top: -25px;
  }
  50% {
    left: -50px;
    top: 25px;
  }
  75% {
    left: 25px;
    top: -50px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.logo {
  @include animation(logo 10s $ease-in-out-quart infinite);
}
